.vs/QuickSlotsPlus/FileContentIndex/
bin/
build/
obj/
release/README.md
QuickSlotsPlus.csproj.user
*.zip
*.dll
/.vs/QuickSlotsPlus/CopilotIndices/17.13.196.30798
/.vs/QuickSlotsPlus/v17/.suo
/.vs/QuickSlotsPlus-Nitrox/CopilotIndices/17.13.196.30798
/.vs/QuickSlotsPlus-Nitrox/v17
/.vs/ProjectSettings.json
